$text: #000000;
$text-contrast: #FFFFFF;
$text-for-toggler: #4D5562;

$background: #FFFFFF;
$background-hover: #F0F9FF;

$button-border: #E2E3E5;

$display-background: #F3F4F6;
$display-text: #111827;

$accent: #5D5FEF;

$canvas-description: #6B7280;