@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 20px;
}

.page-main {
    display: flex;
    justify-content: center;
    gap: 56px;
}

.wrapper {

    &:not(:last-of-type) {
        margin-bottom: 12px;
    }
}

.container-blocked {
    opacity: 50%;
}

.container {
    padding: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}